github:
  # Access token gerado em https://github.com/settings/tokens
  access_token: "TOKEN"

  projects:
    ancora:
      repo: "repo_name" # caiena/#{projeto}
      milestone: # String de identificação dos milestones disponíveis
        backlog: "Backlog"
        sprint_nine: "Sprint 09"

basecamp:
  id: "ID_NUMBER" # ID da Organização Caiena no Basecamp
  username: "user@caiena.net" # E-mail de autenticação do Basecamp
  password: "S3CR37" # Senha do Basecamp

  projects:
    ancora:
      name: "Âncora" # Nome do Projeto
      todolist: "Product Backlog" # Nome da Lista para exportação

