github:
  # Access token gerado em https://github.com/settings/tokens
  access_token: "TOKEN"

  projects:
    ancora:
      repo: "repo_name" # user/#{projeto}
      milestone: # String de identificação dos milestones disponíveis
        backlog: "Backlog"
        current: "Sprint 09"

basecamp:
  id: "ID_NUMBER" # ID no Basecamp
  username: "user@example.net" # E-mail de autenticação do Basecamp
  password: "S3CR37" # Senha do Basecamp

  projects:
    project:
      name: "PROJECT" # Nome do Projeto
      todolist: "Product Backlog" # Nome da Lista para exportação
